.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 12px;

    header{
        margin-bottom: 10px;

        span{
            color: var(--text-secondary);
        }
    }

    form{
        display: flex;
        gap: 10px;
        flex-direction: column;

        section{
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: var( --radius-sm);
            background: white;
    
            .row {
                display: flex;
                gap: 10px;
                flex-direction: column;

                @media (min-width: 768px) {
                    flex-direction: row;
                        > * { flex: 1;
                }
            }
            }
        }
    }
}