<div class="card-container">
  <div class="table-header">
    <span class="col-reporte">Reporte</span>
    <span class="col-criticidad">Criticidad</span>
    <span class="col-progreso">Progreso</span>
  </div>

  <div class="report-list">
    @for (item of items(); track item.titulo) {
      <div class="report-row">
        <div [class]="['status-indicator', item.class]"></div>

        <div class="report-main">
          <div class="info">
            <h4 class="title">{{ item.titulo }}</h4>
            <p class="user">{{ item.usuario }}</p>
          </div>

          <div class="criticidad-container">
            <span [class]="['badge', item.class]">
              {{ item.criticidad }}
            </span>
          </div>

          <div class="progress-container">
            <div class="progress-wrapper">
              <div class="progress-bar-bg">
                <div [class]="['progress-fill', item.class]"
                     [style.width.%]="item.progreso"></div>
              </div>
              <span class="percentage">{{ item.progreso }}%</span>
            </div>
            <span class="time">{{ item.tiempo }}</span>
          </div>
        </div>
      </div>
    }
  </div>
</div>
